<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>add Emp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			href="css/style.css" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20
							<br/>
							<a href="javascript:;" @click="logout">安全退出</a>
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="/ems_vue/emplist.html">人事管理システム</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						従業員ページ
					</h1>
					<form th:action="@{/employee/save}" method="post" enctype="multipart/form-data" onsubmit="return validOrNot()">	
						<table cellpadding="0" cellspacing="0" border="0"class="form_table">
							<tr>
								<td valign="middle" align="right">
									名前:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									写真:
								</td>
								<td valign="middle" align="left">
									<input type="file" ref="myPhoto" name="img" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									給料:
								</td>
								<td valign="middle" align="left">
									<input type="text" id="salaryInput" class="inputgri"name="salary" />
									<span id="salaryMsg" style="color:red;"></span>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									誕生日:
								</td>
								<td valign="middle" align="left">
									<input type="text" id="birthdate" class="inputgri" name="birthday" placeholder="2000/01/01" />
									<span id="dateMsg" style="color:red;"></span>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="従業員の追加" />
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
		<script>
			var dateInput=document.getElementById('birthdate');
			var dateMsg=document.getElementById('dateMsg');
			
			var salaryInput=document.getElementById('salaryInput');
			var salaryMsg=document.getElementById('salaryMsg');
			
			function validOrNot(){
				if (salaryValid() && dateValid()) {
			        return true
			      } else{
			        return false
			    }
			}
			
			
			function dateValid(){
				var dateValue=dateInput.value
				var regxDate = /^(18|19|20)\d{2}\/(0[1-9]|1[0-2])\/(0[1-9]|[12]\d|3[01])$/
				
				if (dateValue.match(regxDate)) {
			        return true
			      }else{
					 dateMsg.innerHTML='誤っている日付を入力している。'
					 setTimeout(function(){
						 dateMsg.innerHTML=''
					 },5000)
					 return false
				  }
				  
			}
			function salaryValid(){
				var salaryValue=salaryInput.value
				
				var regxSalary = /^\d+(\.\d+)?$/
				if (salaryValue.match(regxSalary)) {
			        return true
			    }else{
					 salaryMsg.innerHTML='誤っている給料を入力している。'
					 setTimeout(function(){
						 salaryMsg.innerHTML=''
					 },5000)
					 return false
				}

			}
		</script>
	</body>
</html>
