<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>emplist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/script/script.js}"></script>
    <!--link外部引入-->
    
</head>
<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    <div id="nowtime"></div>
                    <br/>
                    <a th:if="${session.admin!=null}" th:href="@{/admin/logout}">安全退出</a>
                    <a th:if="${session.admin==null}" th:href="@{/login}">登录</a>
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="/ems_vue/emplist.html">人事管理システム</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                ようこそ<span th:if="${session.admin!=null}" th:text="${session.admin.realname}"></span>
                <span th:if="${session.admin==null}">お客様</span>
            </h1>
            
        <div style="text-align: right;height:25px;">
			<span id="Msg" style="color:red;"></span>
		</div>
            
        <div style="margin-bottom: 10px;text-align:right;">
			<form th:action="@{/employee/search}" method="post" onsubmit="return validOrNot()">
				名前<input tyqe="text" class="inputSearch" name="searchName"/>
				給料<input tyqe="text" id="salaryBegin" class="inputSearch" name="salaryBegin"/>
				~<input tyqe="text" id="salaryEnd" class="inputSearch" name="salaryEnd"/>
				誕生日<input tyqe="text" id="dateBegin" class="inputSearch" name="dateBegin"
				placeholder="2000/01/01"/>
				<input tyqe="text" id="dateEnd" class="inputSearch" name="dateEnd"
				placeholder="2000/01/01"/>
				<input type="submit" value="検査コード"class="button"/>
			 </form>
		</div>
            <table class="table">
                <tr class="table_header">
                    <td>
                        番号
                    </td>
                    <td>
                        名前
                    </td>
                    <td>
                        写真
                    </td>
                    <td>
                        給料
                    </td>
                    <td>
                        誕生日
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
                <tr th:each="employee,state:${employeeList}" th:class="${state.odd?'row1':'row2'}">
                    <td>
                        <span th:text="${employee.id}"/>
                    </td>
                    <td>
                        <span th:text="${employee.name}"/>
                    </td>
                    <td>
                        <img th:src="@{/}+${employee.photo}" style="height: 40px;">
                    </td>
                    <td>
                        <span th:text="${employee.salary}"/>
                    </td>
                    <td>
                        <span th:text="${#dates.format(employee.birthday,'yyyy/MM/dd')}"/>
                    </td>
                    <td>
                        <!--<a href="javascript:;" th:onclick="(id=${employee.id})">消除</a>-->
                        <a href="javascript:;" th:onclick="'delEmp('+${employee.id}+')'">消除</a>
						<!--<a th:href="@{/employee/delete(id=${employee.id})}">消除</a>&nbsp;-->
						<a th:href="@{/employee/detail(id=${employee.id})}">更新</a>
                    </td>
                </tr>
            </table>
            <p>
                <input type="button" class="button" value="従業員の追加" onclick="addEmp()"/>
            </p>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">
            ABC@126.com
        </div>
    </div>
</div>
<script>
	function delEmp(id){
		console.log(id)
		if(window.confirm("削除するかどうか")){
			location.href='[[@{/employee/delete?id=}]]'+id	
		}
		
	}
	function addEmp(){
		location.href='[[@{/addEmp}]]'
	}
	
	var salaryBegin=document.getElementById('salaryBegin')
	var salaryEnd=document.getElementById('salaryEnd')
	
	var dateBegin=document.getElementById('dateBegin')
	var dateEnd=document.getElementById('dateEnd')
	
	var Msg=document.getElementById('Msg')
	
	function validOrNot(){
				if (salaryValidBegin() && salaryValidEnd() && dateValidBegin() && dateValidEnd()) {
			        return true
			      } else{
			        return false
			    }
			}
			function salaryValidBegin(){
				var salaryValue=salaryBegin.value
				
				var regxSalary = /^\d+(\.\d+)?$/
				if (salaryValue.match(regxSalary)||salaryValue.trim()==='') {
			        return true
			    }else{
					 Msg.innerHTML='誤っている給料を入力している。'
					 setTimeout(function(){
						Msg.innerHTML=''
					 },5000)
					 return false
				}
				}
	function salaryValidEnd(){
				var salaryValue=salaryEnd.value
				
				var regxSalary = /^\d+(\.\d+)?$/
				if (salaryValue.match(regxSalary)||salaryValue.trim()==='') {
			        return true
			    }else{
					 Msg.innerHTML='誤っている給料を入力している。'
					 setTimeout(function(){
						 Msg.innerHTML=''
					 },5000)
					 return false
				}
				}
	function dateValidBegin(){
				var dateValue=dateBegin.value
				var regxDate = /^(18|19|20)\d{2}\/(0[1-9]|1[0-2])\/(0[1-9]|[12]\d|3[01])$/
				
				if (dateValue.match(regxDate)||dateValue.trim()==='') {
			        return true
			      }else{
					 Msg.innerHTML='誤っている日付を入力している。'
					 setTimeout(function(){
						 Msg.innerHTML=''
					 },5000)
					 return false
				  }
				  }
	function dateValidEnd(){
				var dateValue=dateEnd.value
				var regxDate = /^(18|19|20)\d{2}\/(0[1-9]|1[0-2])\/(0[1-9]|[12]\d|3[01])$/
				
				if (dateValue.match(regxDate)||dateValue.trim()==='') {
			        return true
			      }else{
					 Msg.innerHTML='誤っている日付を入力している。'
					 setTimeout(function(){
						 Msg.innerHTML=''
					 },5000)
					 return false
					}
					}
		var nowtime=document.getElementById('nowtime')
			setInterval(()=>{
				nowtime.innerHTML=getJapTime()
			},1000)
			
</script>
</body>
</html>
