<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eden.dao.EmployeeDao">

	<insert id="save" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
		insert into `employee` values(#{id},#{name},#{salary},#{birthday},#{photo})
	</insert>
	
	<select id="lists" resultType="Employee">
		select * from employee
	</select>
	
	<select id="findById" parameterType="Integer" resultType="Employee">
		select * from employee where id=#{id}
	</select>
	
	<update id="update" parameterType="Employee">
		update employee set name=#{name},salary=#{salary},birthday=#{birthday},photo=#{photo}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="Integer">
	delete from employee where id=#{id}
	</delete>
	<select id="searchEmp" resultType="Employee">
	select * from employee 
	<where>
		<if test="searchName!=null">
	 	name like concat('%',#{searchName},'%')
	 	</if>
	 	<if test="salaryBegin!=null">
		and salary >= #{salaryBegin} 
		</if>
		<if test="salaryEnd!=null">
		and salary &lt;= #{salaryEnd}
		</if>
		<if test="dateBegin!=''">
		and birthday >= #{dateBegin} 
		</if>
		<if test="dateEnd!=''">
		and birthday &lt;= #{dateEnd}
		</if>
	 </where>
	 </select>
</mapper>
